/* main page*/

.wrapper {
    display: flex;
    text-align: center;
    position: relative;
    word-break: keep-all;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wrapper video {
    display: block;
    width: 100%;
    height: 100%;
    object-position: top center;    
}



.wrapper .text_space {    
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 10px;    
}

.wrapper .text_space2 {
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 10px;   
}

.wrapper .index {
    font-size: 15px;
    padding: 10px;
}

.wrapper .index_2 {
    font-size: 40px;
    font-family: 'Bruno Ace', cursive;
    font-family: 'Oswald', sans-serif;
}

.text_title .logo img {
    width: 100%;
    height: 70px;
    padding: 10px;
}
.index_logo {
    width: 100%;
    height: 40px;
    padding: 8px;
}

.button_space .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
    border: 1px solid black; 
    background-color: rgba(255,255,255,.15);
    font-size: 13px;
    font-weight: 400;
    line-height: .94;
    color: black;
}

.button_space .button2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
    border: 1px solid white; 
    background-color: rgba(0,0,0,.25);
    font-size: 13px;
    font-weight: 400;
    line-height: .94;
    color: #fff;
}

.button_space .button3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    margin: 5px
}

.wrapper .main-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    position: relative;
}

.wrapper .masion {
    position: relative;
    top: -1px;
    width: 100%;

}